//====================================
//  Parameters
//====================================
$nav_height: 30px;
$aws_static: 'https://s3-ap-northeast-1.amazonaws.com/piposay/images';


$orange: #E67E22;
$blue: #00b0f4;
$green: #1abc9c;

$white: #fcfaf3;
$wheat: #e7dccd;
$purple: #7e78b8;
$red: firebrick;
$grass: #A4CB3D;
$yellow: #ffcf01;
$cyan: #43b8d4;
$word: #606060;
$fbblue: #3B5998;

$drawer_width: 250px;
$tshift: 0.4s;

$bg_grey: rgb(240, 240, 240);
$bg_grey_border: rgb(204, 204, 204);

//====================================
//  Utilities
//====================================
@import "compass/css3/border-radius";
//usage: @include border-radius(5px); / @include border-right-radius(5px); / @include border-bottom-radius(5px);

@import "compass/css3/box-shadow";
//usage: @include box-shadow(#555 1px 3px 15px); / @include box-shadow(#555 1px 3px 15px inset);

@import "compass/css3/columns";
//usage: @include column-count(3); @include column-rule(1px, solid, red);

@import "compass/css3/transform";
//usage: http://compass-style.org/reference/compass/css3/transform/#mixin-rotate-source

@import "compass/css3/images";
//usage: http://compass-style.org/examples/compass/css3/gradient/

@import "compass/css3/transition";
//usage: set origin & hover width, then @include transition-property(width); @include transition-duration(2s);

//====================================
//  Custumize
//====================================
//usage: @include base_background(100%, 100%, center, center);
@mixin base_background($hrat: 100%, $vrat: 100%, $hpos: center, $vpos: center) {
  @if $hrat == 'cover' {
    background-size: cover;
  } @else {
    background-size: $hrat $vrat;
  }
  background-position: $hpos $vpos;
  background-repeat:no-repeat;
}

//usage: @include set_background("events/open-knowledge-header.jpg");
@mixin set_background($img, $hrat: 100%, $vrat: 100%, $hpos: center, $vpos: center) {
  background-image: url(image-path($img));
  @include base_background($hrat, $vrat, $hpos, $vpos);
}